project:
  type: website
  output-dir: "docs"
  render:
    - index.qmd
website:
  title: "Bathymetry of the Sainte Marie Lagoon"
  navbar:
    left:
      - href: index.qmd
        text: Home
format:
  html:
    theme:
      - sandstone
    css: styles.css
    toc: true

editor: source


